{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="mt-5">Service Order</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome do cliente</th>
            <th>Telefone</th>
            <th>Categoria</th>
            <th>Data de criação da O.S</th>


        </tr>
        </thead>
        <tbody>
    {% for service in services %}
        <tr>
            <td id = "customer_id">{{ service.id }}</td>
            <td>
                <a  href="{% url 'view_customer' service.id %}">{{ service.nome }} {{ service.sobrenome }}</a>
            </td>
            <td>{{ service.telefone }}</td>
            <td>{{ service.categoria }}</td>
            <td>{{ service.data|date:'d/m/Y H:i:s'}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<nav id = "pagination" aria-label="Page navigation example">
    <ul class="pagination">
        {% for page in services.paginator.page_range%}
            {% if services.number == page %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{page}}&termo={{ request.GET.termo }}">{{page}}</a>
                </li>
                {% else %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{page}}&termo={{ request.GET.termo }}">{{page}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}
