{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5">Service Order</h1>
<table class="table">
    <thead>
    <tr>
        <th>Nome do cliente</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        <th>Descrição</th>


    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="#"> João</a>
        </td>
        <td>Miranda</td>
        <td>35 9 5555-5555</td>
        <td>Desktop</td>
        <td>Computador não liga</td>
    </tr>
    <tr>
        <td>
            <a href="#"> Leandro</a>
        </td>
        <td>Moreira</td>
        <td>35 9 8888-5555</td>
        <td>Notebook</td>
        <td>Formatação</td>
    </tr>
    <tr>
        <td>
            <a href="#"> Fátima</a>
        </td>
        <td>Oliveira</td>
        <td>35 9 9999-4352</td>
        <td>Impressora</td>
        <td>Epson não imprimi</td>
    </tr>
    </tbody>
</table>
{% endblock %}
