{% extends 'base.html' %}
{% block titulo %} CLIENTE {{service.nome}} {{service.sobrenome}} | {% endblock %}
{% block conteudo  %}

<dl>

    <dt>Ordem de serviço n°:</dt>
    <input id ="inputId" class="form-control" type="text" placeholder="{{service.id}}" readonly>

    <dt>Nome do cliente:</dt>
    <input class="form-control" type="text" placeholder="{{service.nome}} {{service.sobrenome}}" readonly>


    <dt>Telefone:</dt>
    <input class="form-control" type="text" placeholder="{{service.telefone}}" readonly>


    <dt>E-mail:</dt>
    <input class="form-control" type="text" placeholder="{{service.email}}" readonly>


    <dt>Data de criação da O.S:</dt>
     <input class="form-control" type="text" placeholder="{{service.data|date:'d/m/Y H:i:s'}}" readonly>


    <dt>Categoria:</dt>
    <input class="form-control" type="text" placeholder="{{service.categoria}}" readonly>


    <dt>Descrição</dt>
    <input class="form-control" type="text" placeholder=" {{service.descricao}}" readonly>

</dl>
<a href="delete/{{service.id}}"><button onclick="deleteMessage()" type="button" id ='delete_button' class="btn btn-primary">Excluir cliente</button></a>
{% endblock %}