{% extends 'base.html' %}
{% block conteudo  %}
<h4 class="mt-5">ORDEM DE SERVIÇO</h4>

<dl>
    <dt>ID</dt>
    <dd id ="deletest" >{{service.id}}</dd>

    <dt>Nome do cliente</dt>
    <dd>{{service.nome}} {{service.sobrenome}}</dd>

    <dt>Telefone</dt>
    <dd>{{service.telefone}}</dd>

    <dt>E-mail</dt>
    <dd>{{service.email}}</dd>

    <dt>Data de criação da O.S</dt>
    <dd>{{service.data|date:'d/m/Y H:i:s'}}</dd>

    <dt>Categoria</dt>
    <dd>{{service.categoria}}</dd>

    <dt>Descrição</dt>
    <dd>
        {{service.descricao}}
    </dd>
</dl>
<a href="delete/{{service.id}}"><button onclick="deleteMessage()" type="button" id ='delete_button' class="btn btn-primary">Excluir cliente</button></a>
{% endblock %}