{% extends 'base.html' %}
{% block titulo %} LOGIN | {% endblock %}
{% block conteudo %}
{% load static %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
 {% if not user.is_authenticated %}
                <div class="text-center">
                  <h4 class="mt-2 mb-5 pb-1">Orion Consultoria em TI</h4>
                </div>
                <form method="POST" action="{% url 'login' %}">
                    {% include 'parciais/_messages.html' %}
                    {% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <label for="inputId">Username</label>
                    <input type="text" name="user" class="form-control" id="inputId">
                  </div>

                  <div class="form-outline mb-4">
                    <label for="inputPassword4">Senha</label>
                    <input type="password" name="password" class="form-control" id="inputPassword4">
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>


                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-3">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       {%else%}
                <p>
                  Você fez login com {{user}}
                </p>
      <a href="{% url 'logout' %}"><button  type="button" id ='delete_button' class="btn btn-primary">SAIR</button></a>
 {%endif%}
  </div>

{% endblock %}